<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pazz.springboot.mybatis.dao.LoginMapper">

    <resultMap id="login" type="com.pazz.springboot.mybatis.entity.Login">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR"></result>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"></result>
        <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        <result column="pass_word" property="passWord" jdbcType="VARCHAR"></result>
        <result column="rank" property="rank" jdbcType="NUMERIC"></result>
        <result column="active" property="active" jdbcType="CHAR"></result>
    </resultMap>

    <select id="queryLoginList" resultMap="login">
        select * from t_login
        <if test="userName != null and '' != userName">
            where user_name = #{userName, jdbcType=VARCHAR}
        </if>
    </select>

</mapper>