<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pazz.springboot.mybatis.dao.TestMapper">

    <resultMap id="test" type="com.pazz.springboot.mybatis.entity.Test">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="code" property="code" jdbcType="VARCHAR"></result>
        <result column="time" property="time" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <select id="queryTestList" resultMap="test">
        select * from test
        <if test="name != null and '' != name">
            <bind name="name" value="'%' + name + '%'"/>
            where name like #{name, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectByIds" resultMap="test">
        select * from test where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>